@import "reset";

/*#region FONT SIZES */
$fontLato: "Lato", sans-serif;
$fontLemonMilkBold: "Lemon/Milk Bold", sans-serif;
$fontOpenSans: "Open Sans", sans-serif;
$fontPeaceSans: "PeaceSans", sans-serif;
/*#endregion*/

/*#region COLORS */
$white: #ffffff;
$black: #000000;
$lightGrey: #6a6a6a;
$grey: #494949;
$darkGrey: #242424;
$bordo: #bc2e3a;
$lightGreyBGR: #f5f5f5;
$red: #ff0000;
/*#endregion*/

body {
  scroll-behavior: smooth;
}

.hide {
  opacity: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.on-top {
  z-index: 1;
}

.relative {
  position: relative;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
}

.flex-left {
  align-items: flex-start;
}

.lightGreyBGR {
  background-color: $lightGreyBGR;
}

.active {
  border-color: $bordo !important;
}

/*#region SINGLE ELEMENTS */

/* READ MORE BUTTON */

.read-more-btn {
  text-transform: uppercase;
  color: $white;
  background-color: $bordo;
  width: 200px;
  height: 50px;
  font-size: 1.25em;
  font-family: $fontLato;
  font-weight: bold;
  border-radius: 25px;
  margin-top: 50px;

  &:hover {
    transform: scale(1.1);
  }
}

/* SECTION HEADER */

.section-header {
  font-family: $fontPeaceSans;
  font-size: 3.875em;
  color: $grey;
  z-index: 10;
}

/* SECTION PARAGRAPH */

.section-text {
  font-family: $fontOpenSans;
  font-size: 1.063em;
  color: $lightGrey;
}

/*#endregion*/

/*#region NAVBAR */

.navbar {
  position: fixed;
  padding: 0 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 100;
  line-height: 55px;

  .logo-nav {
    position: absolute;
    font-family: $fontLato;
    font-size: 2.688em;
    font-weight: 900;
    letter-spacing: -1px;
    color: $white;
    height: 100%;
  }

  .hamburger {
    text-align: right;

    label {
      margin: 0;
      color: $white;
      font-size: 36px;
      width: 55px;
      text-align: center;
      display: none;
    }

    #toggle {
      display: none;
    }

    .menu {
      float: right;

      ul {
        display: flex;

        li {
          a {
            text-decoration: none;
            font-family: $fontLato;
            font-size: 1em;
            font-weight: 700;
            color: $white;
            text-transform: uppercase;
            margin-right: 20px;
            &:hover {
              color: $red;
            }
          }
        }
      }
    }
  }

  img {
    margin: 0 10px;
    vertical-align: middle;
  }

  a:hover {
    transform: scale(1.1);
  }
}
/*#endregion*/

/*#region HEADER */

header {
  background-image: url("../images/city-red__desktop.jpg");
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.banner {
  height: 100%;
  position: relative;
  padding-top: 60px;

  .banner-slogan {
    text-transform: uppercase;
    font-family: $fontLemonMilkBold;
    color: $white;
    text-align: center;
    max-width: 70%;

    h1 {
      font-size: 10em;
      line-height: 0.9;
      opacity: 0.8;
    }

    h2 {
      font-size: 6em;
      line-height: 0.9;
      opacity: 0.8;
    }
  }

  button {
    position: absolute;
    left: 28%;
    color: $darkGrey;
    background-color: $white;
  }

  img {
    position: absolute;
    top: 10%;
    right: -10%;
    height: 100%;
  }
}
/*#endregion*/

/*#region WHO WE ARE */

.WhoWeAre {
  display: flex;
  padding: 80px 0;

  .text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80%;
    flex: 40%;
  }

  img {
    flex: 60%;
  }
}
/*#endregion */

/*#region WHAT WE DO */

.WhatWeDo {
  padding: 80px 0;

  h1 {
    text-align: center;
  }

  .list-img {
    background-color: $bordo;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    position: relative;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-item {
  width: 300px;
  margin-top: 50px;

  p {
    margin-left: 85px;
  }
}

.service-header {
  font-family: $fontLato;
  font-size: 1.875em;
  font-weight: 900;
  color: $lightGrey;
  margin-left: 20px;
}
/*#endregion */

/*#region HOW WE WORKS */

.HowWeWorks {
  padding: 80px 0;

  .section-center {
    display: flex;
    margin-top: 40px;

    p {
      max-width: 300px;
    }

    .process-images {
      display: flex;
      justify-content: space-between;
      margin-left: 80px;
      width: 100%;

      .image-wrapper {
        position: relative;
        height: 200px;
        width: 200px;
        transform: skew(-25deg) translateX(-20px);
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 0 30px 0 rgba(80, 80, 80, 0.2);

        .image-shade {
          position: absolute;
          width: 300px;
          bottom: -50px;
          left: -35px;
          z-index: 2;
          color: $white;
          background: rgba(0, 0, 0, 0.5);
          transition: transform 0.5s ease-in-out;
        }

        .shade-hide {
          transform: skew(25deg);
        }

        .shade-show {
          transform: skew(25deg) translate(25px, -100px);
        }

        h6 {
          font-family: $fontLato;
          font-weight: 700;
          font-size: 1.5em;
          text-transform: uppercase;
          text-align: center;
        }

        p {
          font-family: $fontOpenSans;
          font-size: 0.75em;
          text-align: center;
          padding: 0 80px;
        }

        img {
          transform: skew(25deg) translate(-25px);
          width: 300px;
          height: 300px;
          position: absolute;
        }
      }
    }
  }
}
/*#endregion*/

/*#region OUR CREATIVE TEAM */

.OurCreativeTeam {
  padding: 80px 0;
  height: 700px;

  h1 {
    text-align: center;
  }

  h5 {
    font-family: $fontOpenSans;
    font-weight: 700;
    font-size: 1.5em;
    color: $white;
    text-align: center;
    transform: skew(-45deg);
    line-height: 40px;
  }

  h6 {
    font-family: $fontOpenSans;
    font-size: 1.188em;
    color: $white;
    font-style: italic;
    text-align: center;
    transform: skew(-45deg);
  }

  .team-carousel {
    margin-top: 100px;
    position: relative;
    height: 100%;
  }

  .team-img-wrapper {
    width: 300px;
    height: 300px;
    border: solid 15px $white;
    overflow: hidden;
    transform: rotate(45deg);
    box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);

    .team-img {
      width: 400px;
      height: 400px;
      transform: rotate(-45deg) translateY(-100px);
    }
  }

  .team-name-wrapper {
    background-color: $black;
    transform: skew(45deg) translateX(-50%);
    width: 250px;
    position: absolute;
    left: 50%;
  }

  .team-job-wrapper {
    background-color: $bordo;
    transform: skew(45deg) translateX(-65%) translateY(38px);
    width: 180px;
    position: absolute;
    left: 50%;
    transition: all 0.5s ease-in-out;
  }

  /*#region Carousel */
  .carousel {
    transition: all 0.5s ease-in-out;
  }

  .top {
    position: absolute;
    z-index: 11;
    left: 400px;
  }

  .left {
    position: absolute;
    z-index: 10;
    left: 100px;
    opacity: 0.6;
    transform: scale(0.7);
  }

  .right {
    position: absolute;
    z-index: 10;
    left: 700px;
    opacity: 0.6;
    transform: scale(0.7);
  }

  .back {
    position: absolute;
    z-index: 10;
    left: 400px;
    opacity: 0;
    transform: scale(0.5);
  }

  .carousel-arrows {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 19%;

    .arrow-left {
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 50px 50px 0;
      border-color: transparent $darkGrey transparent transparent;
    }

    .arrow-right {
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 50px 0 50px 50px;
      border-color: transparent transparent transparent $darkGrey;
    }
  }
  /*#endregion*/
}
/*#endregion*/

/*#region WHAT CLIENTS SAY */

.WhatClientsSay {
  padding: 80px 0 180px 0;

  .clients-wrapper {
    display: flex;
    margin-top: 100px;

    .clients-img-wrapper {
      width: 300px;
      height: 300px;
      transform: rotate(45deg);
      border: solid 15px $white;
      overflow: hidden;
      box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      margin-left: 100px;

      .client-img {
        position: absolute;
        width: 400px;
        height: 400px;
        transform: rotate(-45deg) translateY(-100px);
      }
    }

    .clients-right {
      display: flex;
      align-items: center;
      flex-direction: column;
      margin-left: 150px;
      width: 600px;
      position: relative;

      .citat {
        display: flex;
        position: absolute;

        img {
          width: 75px;
          height: 55px;
        }

        .citat-text {
          font-family: $fontOpenSans;
          color: $lightGrey;
          margin-top: 10px;
          margin-left: 20px;

          p {
            font-size: 1.25em;
            font-style: italic;
          }

          h6 {
            font-size: 1.125em;
            font-weight: 700;
            margin-top: 20px;
          }
        }
      }

      .clients-miniature {
        display: flex;
        justify-content: space-between;
        width: 450px;
        transform: translateY(250px);

        .miniature-wrapper {
          cursor: pointer;
          width: 100px;
          height: 100px;
          transform: rotate(45deg);
          overflow: hidden;
          border: solid 5px;
          border-color: $white;
          box-shadow: 0px 0px 60px 0px rgba(0, 0, 0, 0.75);

          img {
            width: 150px;
            height: 150px;
            transform: rotate(-45deg) translateY(-50px);
          }
        }
      }
    }
  }
}

/*#endregion*/

/*#region CONTACT - FOOTER*/

footer {
  background-image: url("../images/sitting-people.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.GetInTouch {
  padding: 80px 0 40px 0;
  font-family: $fontOpenSans;
  color: $white;

  h1 {
    text-align: center;
  }

  .contact-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;

    .contact {
      display: flex;

      img {
        height: 50px;
        margin-top: 10px;
      }

      .contact-text {
        margin-left: 20px;

        h6 {
          font-size: 1.375em;
          margin-bottom: 10px;
          font-weight: 700;
        }

        p {
          font-size: 1.063em;
          margin-bottom: 5px;
        }
      }
    }
  }

  .icons-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    .icons {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 500px;

      a:hover {
        transform: scale(1.1);
      }
    }

    hr {
      margin: 20px 0;
      width: 800px;
    }

    p {
      text-align: center;
    }
  }
}
/*#endregion*/

/*#region TRIANGLES */

.triangle-WhoWeAre {
  position: absolute;
  top: -5%;
  left: 35%;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 600px 600px 0 600px;
  border-color: $black transparent transparent transparent;
}

.triangle-WhatWeDo {
  position: absolute;
  top: 40%;
  z-index: 1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 100px 0 100px 100px;
  border-color: transparent transparent transparent $bordo;
}

.triangle-HowWeWorks-left {
  position: absolute;
  bottom: -20%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 0 120px 120px;
  border-color: transparent transparent transparent $black;
}

.triangle-HowWeWorks-right {
  position: absolute;
  top: -30%;
  right: 0;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 500px 500px 500px 0;
  border-color: transparent $bordo transparent transparent;
}

.triangle-WhatClientsSay-left {
  position: absolute;
  top: -5%;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 450px 0 450px 450px;
  border-color: transparent transparent transparent $bordo;
}

.triangle-WhatClientsSay-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0 300px 300px 0;
  border-color: transparent $black transparent transparent;
}
/*#endregion*/

/*#region MEDIA QUERIES */

@media only screen and (max-width: 980px) {
  /*#region NAVBAR*/
  .navbar {
    .hamburger {
      label {
        display: block;
        cursor: pointer;
        float: right;
      }

      .menu {
        width: 100%;
        display: none;

        ul {
          flex-direction: column;
          transition: all 5s ease-in-out;
          align-items: center;
          width: 100%;
        }
      }

      #toggle:checked + .menu {
        display: block;
      }

      #serch-icon,
      #fb-icon {
        display: none;
      }
    }
  }
  /*#endregion*/

  /*#region WHAT CLIENTS SAYS*/
  .WhatClientsSay {
    .clients-img-wrapper {
      display: none;
    }
  }
  /*#endregion*/
}

@media only screen and (max-width: 768px) {
  h1 {
    text-align: center;
  }

  .read-more-btn {
    margin-top: 20px;
  }

  /*#region HEADER BANNER*/

  header {
    background-size: cover;

    .banner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .banner-slogan {
        padding-top: 20px;
        max-width: 100%;

        h1 {
          font-size: 7em;
        }

        h2 {
          font-size: 5em;
        }
      }

      img {
        position: relative;
        top: -5%;
        right: 0;
      }

      button {
        position: relative;
        top: -5%;
        left: 0;
      }
    }
  }
  /*#endregion*/

  /*#region WHO WE ARE*/
  .WhoWeAre {
    align-items: center;
    .flex-row {
      flex-direction: column;
      .text-wrapper {
        width: 80%;
      }
    }
  }
  /*#endregion*/

  /*#region HOW WE WORKS*/
  .HowWeWorks {
    .flex-col {
      align-items: center;

      .section-center {
        flex-direction: column;
        align-items: center;

        p {
          max-width: 100%;
        }

        .section-text {
          width: 80%;
        }

        .process-images {
          transform: scale(0.8);
          margin: 10px 0 0 0;
        }
      }
    }
  }
  /*#endregion*/

  /*#region OUR CREATIVE TEAM */
  .OurCreativeTeam {
    height: 550px;

    .team-carousel {
      margin: 10px;

      .top {
        transform: scale(0.7);
        left: 180px;
      }

      .left {
        transform: scale(0.35);
        left: 0px;
      }

      .right {
        transform: scale(0.35);
        left: 350px;
      }

      .back {
        transform: scale(0.25);
        left: 180px;
      }

      .carousel-arrows {
        top: 23%;

        .arrow-left {
          border-width: 25px 25px 25px 0;
        }

        .arrow-right {
          border-width: 25px 0 25px 25px;
        }
      }
    }
  }
  /*#endregion*/

  /*#region WHAT CLIENTS SAY */
  #clients {
    height: 600px;
  }

  .WhatClientsSay {
    height: 100%;
    align-items: center;

    .clients-wrapper {
      margin-top: 20px;
      height: 100%;
      display: flex;
      justify-content: center;

      .clients-right {
        margin: 0;

        .citat {
          img {
            display: none;
          }

          .citat-text {
            margin: 0;

            h6 {
              margin-left: 20px;
            }
          }
        }

        .clients-miniature {
          transform: translateY(200px);
        }
      }
    }
  }
  /*#endregion*/

  /*#region CONTACT - FOOTER*/
  .GetInTouch {
    .contact {
      flex-direction: column;
      align-items: center;
      text-align: center;

      img {
        padding-left: 20px;
      }

      h6 {
        margin-top: 10px;
      }
    }

    .icons-wrapper {
      hr {
        width: 700px;
      }
    }
  }
  /*#endregion*/

  /*#region TRIANGLES */

  .triangle-WhoWeAre {
    top: -5%;
    left: auto;
    right: -40%;
    border-width: 300px 300px 0 300px;
  }

  .triangle-WhatWeDo {
    top: 35%;
    z-index: 1;
    border-width: 50px 0 50px 50px;
  }

  .triangle-HowWeWorks-left {
    bottom: -18%;
    left: 0;
    border-width: 120px 0 120px 120px;
  }

  .triangle-HowWeWorks-right {
    top: 20%;
    right: 0;
    border-width: 250px 250px 250px 0;
  }

  .triangle-WhatClientsSay-left {
    top: 40%;
    border-width: 200px 0 200px 200px;
  }

  .triangle-WhatClientsSay-right {
    top: 0;
    right: 0;
    border-width: 0 200px 200px 0;
  }
  /*#endregion*/
}

@media only screen and (max-width: 360px) {
  .wrapper {
    padding: 0 20px;
  }

  .section-header {
    font-size: 2.5em;
  }

  .section-text {
    font-size: 0.8em;
  }

  .read-more-btn {
    font-size: 1em;
    width: 150px;
    height: 40px;
  }

  /*#region NAVBAR*/
  .navbar {
    line-height: 40px;
    padding: 0 20px;

    .logo-nav {
      font-size: 1.6em;
    }
  }
  /*#endregion*/

  /*#region HEADER BANNER*/
  #home {
    .banner {
      .banner-slogan {
        padding-top: 50px;

        h1 {
          font-size: 4em;
        }

        h2 {
          font-size: 2.5em;
        }
      }

      img {
        height: 60%;
        top: 0;
      }

      button {
        top: 0;
        margin-top: 0;
      }
    }
  }
  /*#endregion*/

  /*#region WHO WE ARE*/
  .WhoWeAre {
    padding: 40px 0;

    .flex-row {
      .text-wrapper {
        margin: 20px 0;
      }

      img {
        width: 100%;
      }
    }
  }
  /*#endregion*/

  /*#region WHAT WE DO*/
  .WhatWeDo {
    padding: 40px 0;

    .list-img {
      width: 45px;
      height: 45px;

      img {
        transform: translate(-50%, -50%) scale(0.6);
      }
    }

    .service-header {
      font-size: 1.5em;
    }
  }
  /*#endregion*/

  /*#region HOW WE WORKS*/
  .HowWeWorks {
    padding: 40px 0;

    .flex-col {
      .section-center {
        width: 100%;

        .process-images {
          flex-direction: column;
          position: relative;
          left: 20%;
        }
      }
    }
  }
  /*#endregion*/

  /*#region OUR CREATIVE TEAM*/
  .OurCreativeTeam {
    padding: 40px 0;
    .team-carousel {
      margin: 0;
      .top {
        transform: scale(0.5);
        left: 10px;
      }

      .left {
        transform: scale(0.25);
        left: -100px;
      }

      .right {
        transform: scale(0.25);
        left: 110px;
      }

      .back {
        transform: scale(0.15);
        left: 10px;
      }

      .carousel-arrows {
        top: auto;
        bottom: 30%;
        justify-content: space-around;
      }
    }
  }
  /*#endregion*/

  /*#region WHAT CLIENTS SAY*/
  .WhatClientsSay {
    padding: 40px 0 80px 0;
    .clients-wrapper {
      .clients-right {
        width: 100%;

        .citat {
          .citat-text {
            p {
              font-size: 1.1em;
            }
          }
        }

        .clients-miniature {
          width: 100%;
          transform: translateY(250px);

          .miniature-wrapper {
            transform: scale(0.7) rotate(45deg);
          }
        }
      }
    }
  }
  /*#endregion*/

  /*#REGION CONTACT - FOOTER*/
  .GetInTouch {
    padding: 40px 0;
    .contact-wrapper {
      flex-direction: column;
      .contact {
        img {
          display: none;
        }
      }
    }

    .icons-wrapper {
      margin-top: 40px;
      .icons {
        width: 100%;
        justify-content: space-evenly;
      }
      hr {
        width: 320px;
      }

      p {
        font-size: 0.7em;
      }
    }
  }
  /*#endregion*/

  /*#region TRIANGLES */
  .triangle-WhoWeAre,
  .triangle-WhatWeDo,
  .triangle-HowWeWorks-left,
  .triangle-HowWeWorks-right,
  .triangle-WhatClientsSay-left,
  .triangle-WhatClientsSay-right {
    display: none;
  }
  /*#endregion*/
}

/*#endregion*/
